@charset "utf-8";

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    outline: 0;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border: 1px solid #000;
    background: #fff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: hsl(50 80% 40% / 0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.primary-header {
    width: 100vw;
    display: inline-flex;
    justify-content: left;
    margin-top: 20px;
}

.primary-header a h1{
    font: Italic 30px "Libre Baskerville";
    color: #000;
    margin-left: 15px;
    margin-right: 30px;
}

.mobile-nav-toggle{
    display: none;
}

/*menu*/
.primary-navigation {
    list-style: none;
    padding: 0;
    background: hsl(0 0% 0% / 0);
}

.primary-navigation li {
    display: inline-flex;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.primary-navigation a {
    text-decoration: none;
    color: #000;
    font-family: "EB Garamond";
    font-size: 20px
}

.primary-navigation a:hover {
    color: rgb(186, 185, 185);
}

/*Social Media*/
.sns{
    width: fit-content;
}

.sns li {
    display: inline-flex;
    position: absolute;
    right: 10px;
}
.sns a {
    font-size: 24px;
    color: #999;
    padding: 10px;
}

.sns a:hover {
    color:hsl(50 80% 40% / 0.8);
}

@media (max-width: 35em) {
    .primary-header {
        margin-bottom: 50px;
    }
    .primary-header a h1 {
        position: absolute;
        top: 0.8rem;
        right: -15px;
    }

    .primary-navigation {
        position: fixed;
        inset:0 45% 0 0;
        display: inline-flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 1em;
        background: hsl(50 80% 40% / 0.1);
        backdrop-filter: blur(1rem);
        z-index: 1000;

        transform: translateX(-100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation a {
        font: normal calc(14px + 1.5vw) "EB Garamond";
        color: #000;
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(menu_icon.png);
        background-repeat: no-repeat;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.2rem;
        left: 1rem;
        cursor: pointer;
    }

    .sns{
        width: fit-content;
        position: absolute;
        top: 4.5px;
        left: 25px;
    }
}

/*Main*/

section {
    width: 100%;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: 6%;

}
.main_image svg{
    width: 400px;
    height: fit-content;
    position: relative;
    z-index: 1;
}

.main_image svg path {
    fill: #999;
    stroke: #000;
    stroke-width: 18;
    stroke-dasharray: 21816;
    stroke-dashoffset: 21816;
    animation: line-anim 5s ease forwards;
}
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

.bio_text {
    width: 50%;
    height: auto;
    padding: 35px;
}

.bio_text h1 {
    font: Italic 24px "Libre Baskerville";
}

.bio_text p{
    font: normal 16px "Lora";

    line-height: 1.7;
}

.bio_text a {
    font: bold 20px "Lora";
    color: #999;
}

.bio_text a:hover {
    color: hsl(50 80% 40% / 0.8);
}

/* works - performance */
.main-container{
    margin: 0 auto;
    float: left;
}
.category-head{
    width: 180px;
    height: fit-content;
    position: fixed;
    top: 100px;
    z-index: 10;

}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:right;
    background: none;
    padding-left: 250px;
    color: #000;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    font-family: "Lora";
    font-size: 16px;
    padding: 0 10px;
}
.category-title span{
    color: #222;
}

/** single post **/
.posts-main-container{
    width: 85vw;
    position: relative;
    top: 48px;
    left: 200px;
    padding-right: 10px;
    display: inline-flex;
    flex-direction: column;
}
.posts-main-container > div{
    display: inline-flex;
    flex-direction: row;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.post-vid {
    padding-top: 20px;
    justify-content: left;
}

.post-vid iframe {
    width: 640px;
    height: 360px;
}

.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    padding: 4px 10px;
    border-radius: 2px;
}

.post-content{
    width: 60vw;
    height: fit-content;
    padding: 25px;
}
.post-content-top{
    width: fit-content;
    text-transform: uppercase;
    font: bold 18px "EB Garamond";
    color: #000;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #000;
}
.post-content-top span{
    padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
    padding-right: 5px;
}
.post-content h3{
    color: #000;
    opacity: 0.7;
    font: bold 16px "EB Garamond";
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.8;
    padding-left: 30px;
}
.post-content p{
    color: #000;
    opacity: 0.7;
    font-size: 16px;
    font-family: "EB Garamond";
    padding-left: 10px;
    line-height: 1.8;
    padding-left: 50px;
}


.active{
    color: hsl(50 80% 40% / 0.8);
}

/*installation*/
.big_container {
    width: 100%;
    margin-bottom: 100px
}

.inst_container {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.inst_vid {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.inst_vid iframe {
    width: 854px;
    height: 480px;
}

.vid_info {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 20px;
}

.vid_title {
    font: italic 20px "Libre Baskerville";
}

.vid_info p {
    font: normal 18px "EB Garamond";
    line-height: 1.8;
}

/*Lesson*/

.box_container {
    width: 100%;
    height: 88vh;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
}

.box1 , .box2 {
    width: 400px;
}

.box1 h1, .box2 h1 {
    font: italic 24px "Lora";
}

.box1 p, .box2 p {
    font: normal 18px "EB Garamond";
    padding-left: 20px;
    line-height: 2;
}

.box1 a {
    color: #000;
    font-weight: 700;
}
.box1 a:hover {
    color: hsl(50 80% 40% / 0.8);
}

@media (max-width: 1024px) {
    .post-vid iframe {
        width: 426px;
        height: 240px;
    }
}

@media (max-width: 35em) {

    section {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6%;
    
    }

    .main_image svg{
        width: 300px;
        height: fit-content;
        position: relative;
        z-index: 1;
    }

    .bio_text {
        width: 100%;
        height: auto;
        padding: 35px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

/*Performance*/

    .main-container{
        width: 100%;
        display: block;
        justify-content: center;
        position: relative;
        }
    .category-head{
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 0;
        z-index: 10;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 10px;
    }
    .category-title{
        background: none;
        color: #000;
        margin: 5px;
        cursor: pointer;
        transition: all 0.4s ease;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }
    .category-title:hover{
        opacity: 0.2;
    }
    .category-title li{
        font-family: "Lora";
        font-size: 16px;
    }

    .active{
        background: hsl(50 80% 40% / 0.3);
    }

    .posts-main-container{
        width: 100%;
        position: relative;
        top: 80px;
        left: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .posts-main-container > div{
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .post-vid {
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .post-content{
        width: 100%;
        padding: 25px;
    }
        
    /*installation*/

    .big_container {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px
    }

    .inst_container {
        padding: 0;
    }

    .inst_vid {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .inst_vid iframe {
        width: 854px;
        height: 480px;
    }

    .vid_info {
        width: 100%;
        height: auto;
        text-align: justify;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
    }

    .vid_title {
        font: italic 20px "Libre Baskerville";
    }

    .vid_info p {
        font: normal 18px "EB Garamond";
        line-height: 1.8;
    }

    .box_container {
        width: 100%;
        height: 88vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 100px;
    }

}
    
/*footer*/

footer {
    width: 100%;
    position: fixed;
    top: 95vh;
    margin-left: 15px;
    margin-bottom: 5px;
}
.credit {
    width: 100%;
    z-index: -2;
}

.credit p {
    font: normal 13px "EB Garamond" ;
    color: #999;
    text-align: left;
}